{% extends 'base.html' %} {% block title %}Скинути Пароль{% endblock %} {% block
content %}
<h3 align="center">Скинути Пароль</h3>
<form method="POST">
  <div class="mb-3">
    <label for="emailResetRequest" class="form-label">Електронна пошта</label>
    <input type="email" class="form-control" id="reset_request" name="reset_request" />
  </div>
  <span class="text-muted">На Введену Вами Пошту Буде Надісланий Лист Із Подальшими Інструкціями</span>
  <hr />
  <button type="submit" class="btn btn-primary">Надіслати</button>
</form>
{% endblock %}
