{% extends 'base.html' %} {% block title %}Авторизація{% endblock %} {% block
content %}
<h3 align="center">Авторизація</h3>
<form method="POST">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Електронна пошта</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
    />
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Пароль</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="password"/>
  </div>
  <span class="text-muted">Забули пароль? <a href='{{ url_for("auth.reset_request") }}'>Скинути Пароль</a></span>
  <hr />
  <button type="submit" class="btn btn-primary">Увійти</button>
</form>
{% endblock %}
