{% extends 'base.html' %} {% block title %}Масштаб{% endblock %} {% block
content %}
<h3 align="center">Ділення Трапецій</h3>
<form
  name="dividing"
  action="{{ url_for('views.calc_dividing') }}"
  method="post"
  autocomplete="off"
>
  <div class="form-group">
    <label for="dividing1">Трапеція, Яка Ділиться</label>
    <input
      type="text"
      class="form-control"
      id="dividing1"
      name="dividing1"
      placeholder="1:1000000"
    />
  </div>
  <div class="form-group">
    <label for="dividing2">Трапеція, Яку Потрібно Отримати Після Ділення</label>
    <input
      type="text"
      class="form-control"
      id="dividing2"
      name="dividing2"
      placeholder="1:200000"
    />
  </div>
  <div class="p-3 mb-2 bg-success text-white rounded" style="white-space: pre-line">Відповідь: {{ res }}</div>
  <hr />
  <a class="btn btn-secondary" href="/" role="button">Назад</a>
  <button type="submit" class="btn btn-primary">Порахувати</button>
</form>
{% endblock %}