{% extends 'base.html' %} {% block title %}Обчислити{% endblock %} {% block
content %}
<h3 align="center">Обчислити</h3>
<!-- ZONE -->
<div class="flex-div">
  <div class="card">
    <img
      src="{{ url_for('static', filename='zones.png') }}"
      class="card-img-top"
      alt="Зони"
    />
    <div class="card-body">
      <h5 class="card-title">Значення Ординати Точĸи</h5>
      <p class="card-text">Знаючи Номер Зони/Коллони, Відстань Та Напрямок</p>
      <a class="btn btn-primary" href="/calc_zone" role="button">Обчислити</a>
    </div>
  </div>
  <!-- ACCURACY -->
  <div class="card">
    <img
      src="{{ url_for('static', filename='accuracy.gif') }}"
      class="card-img-top"
      alt="Точність"
    />
    <div class="card-body">
      <h5 class="card-title">Точність Маcштабу Карти</h5>
      <p class="card-text">Маючи При Цьому Масштаб Карти</p>
      <a class="btn btn-primary" href="/calc_map_accuracy" role="button">Обчислити</a>
    </div>
  </div> 
  <!-- SEGMENTATION -->
  <div class="card">
    <img
      src="{{ url_for('static', filename='segmentation.svg') }}"
      class="card-img-top"
      alt="Сегментація"
    />
    <div class="card-body">
      <h5 class="card-title">Масштаб Карти</h5>
      <p class="card-text">Визначити Масштаб Топографічної Карти Через Її Номенклатуру</p>
      <a class="btn btn-primary" href="/segmentation" role="button">Обчислити</a>
    </div>
  </div> 
  <!-- DIVIDING -->
  <div class="card">
    <img
      src="{{ url_for('static', filename='dividing.jpg') }}"
      class="card-img-top"
      alt="Номенклатура"
    />
    <div class="card-body">
      <h5 class="card-title">Ділення трапецій</h5>
      <p class="card-text">На Скільки Частин Потрібно Розділити Одну Трапецію, Щоб Отримати Іншу</p>
      <a class="btn btn-primary" href="/dividing" role="button">Обчислити</a>
    </div>
  </div> 
</div>
{% endblock %}
