{% extends 'base.html' %} {% block title %}Обчислити{% endblock %} {% block
content %}
<form
  name="zoneForm"
  action="{{ url_for('views.calc_zone') }}"
  method="post"
  autocomplete="off"
>
  <div class="form-group">
    <label for="zoneNumber">Номер Зони/Колони</label>
    <input
      type="text"
      class="form-control"
      id="zoneNumber"
      name="zoneNumber"
      placeholder="15"
    />
  </div>
  <div class="form-group">
    <label for="distance">Відстань Від Меридіану</label>
    <input
      type="text"
      class="form-control"
      id="distance"
      name="distance"
      placeholder="333333"
    />
  </div>
  <div class="form-group">
    <label for="direction">Напрямок</label>
    <input
      type="text"
      class="form-control"
      id="direction"
      name="direction"
      placeholder="Захід Або Схід"
    />
  </div>
  <div class="answer_div"></div>
  <button type="button" class="btn btn-secondary" data-dismiss="modal">
    <a href="/" style="text-decoration: none; color: aliceblue">Назад</a>
  </button>
  <button type="submit" class="btn btn-primary">Порахувати</button>
</form>
<hr />
<div class="p-3 mb-2 bg-success text-white rounded" style="white-space: pre-line">Відповідь: {{ res }}</div>
{% endblock %}
