{% extends 'base.html' %} {% block title %}Масштаб{% endblock %} {% block
content %}
<h3 align="center">Масштаб Карти Через Номенклатуру</h3>
<form
  name="segmentation"
  action="{{ url_for('views.segmentation') }}"
  method="post"
  autocomplete="off"
>
  <div class="form-group">
    <label for="segment">Номенклатура Карти</label>
    <input
      type="text"
      class="form-control"
      id="segment"
      name="segment"
      placeholder="L–35–35–А–а"
    />
  </div>
  <div class="p-3 mb-2 bg-success text-white rounded" style="white-space: pre-line">Відповідь: {{ res }}</div>
  <hr />
  <button type="button" class="btn btn-secondary" data-dismiss="modal">
    <a href="/" style="text-decoration: none; color: aliceblue">Назад</a>
  </button>
  <button type="submit" class="btn btn-primary">Порахувати</button>
</form>
{% endblock %}